* {
  box-sizing: border-box;
}

body {
  background: #6b4622;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type='text'] {
  width: 300px;
}

.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
  border-radius: 2px;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
  color: #c7c5c2;
}

.single-meal {
  margin: 30px auto;
  width: 70%;
}

.single-meal img {
  width: 300px;
  margin: 15px;
  border: 4px #fff solid;
  border-radius: 2px;
}

.single-meal-info {
  margin: 20px;
  padding: 10px;
  border: 2px #e09850 dashed;
  border-radius: 5px;
}

.single-meal p {
  margin: o;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #c7c5c2;
}

.single-meal ul {
  padding-left: 0;
  list-style-type: none;
}

.single-meal ul li {
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  color: #2d2013;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px 5px 0;
}

@media (max-width: 800px) {
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }

  .meal {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 500px) {
  input[type='text'] {
    width: 100%;
  }

  .meals {
    grid-template-columns: 1fr;
  }

  .meal {
    height: 300px;
    width: 300px;
  }
}

.homepage h1 {
  color: #fff;
  font-size: 500%;
}

.homepage p {
  color: #fff;
  font-size: 100%;
}

.homepage h2 {
  color: #fff;
  font-size: 400%;
}

.searchpage h1{
  color: #fff;
  font-size: 300%;
}

.searchpage h3{
  color: #fff;
  font-size: 150%;
}

#result-heading h2{
  font-size: 25px;
  font-weight: 400;
  color: #fff;

}
#result-headingnew h2{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
width: 90%;
}
#result-headingnew1 h2{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
width: 90%;
}

#result-headingnew2 h2{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
width: 90%;
}
#result-headingnew3 h2{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
width: 90%;
}

#result-headingnew1 p {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
width: 90%;

}
#result-headingnew3 p {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
width: 90%;

}
#result-headingnew2 p {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
width: 90%;

}

#sortmeals h2{
  font-size: 12px;
  font-weight: 400;
  color: #fff;

}

#ascsortmeals {
  right: 80px;
  margin: 0 5px 5px 100px;
}

#descsortmeals {
  right: 80px;
  margin: 0 5px 5px 100px;
}

#spreadoperator {
  right: 80px;
  margin: 0 5px 5px 250px;
}

#objectassign {
  right: 80px;
  margin: 0 5px 5px 50px;
}

#mealfirst {
  right: 80px;
  margin: 0 5px 5px 8px;
}

#mealsecond {
  right: 80px;
  margin: 0 5px 5px 8px;
}

#mealthird {
  right: 80px;
  margin: 0 5px 5px 8px;
}
/**********************************************************************/

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  padding-bottom: 3%;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:  #9e7750;
  color: white;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #9e7750;
  width: 100%;
  z-index: 1000;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.navbar-brand a{
font-size: small;
font-weight: 250;
color: #fff;
background-color: black;
}
